div.title div {
    font-weight: bold;
    float: left;
}

div.title {
    height: 20px;
    background-color: #fae9cf;
    margin-left: 20px;
}

div.check {
    height: 21px;
    text-align: center;
    width: 60px;
    margin-left: 20px;
}

div.title div {
    margin-left: 20px;
}

div.info {
    text-align: center;
    width: 200px;
}

div.status {
    text-align: center;
    width: 60px;
}