/* 
    Document   : salesforce
    Created on : 19.10.2010, 12:48:35
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

div.title{
    background-color:#fae9cf;
    font-weight:bold;
}

div.lead_information {
    background-color:#e2e4e4;
    text-align: center;
    height: 170px;
}

div.info{
    float: left;
}

div.row {
    float: left;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

div.row_name {
    text-align: right;
}

div.furniture {
    text-align: left;
}
