<h1>Editing salesforce</h1>

<% form_for(@salesforce) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @salesforce %> |
<%= link_to 'Back', salesforces_path %>