<h3>Leads</h3>

<table>
  <tr>
    <td><b>First name</b></td>
    <td><b>Last name</b></td>
  </tr>

  <% @data.records.each do |record| %>
      <tr>
        <td><%= record.firstName %></td>
        <td><%= record.lastName %></td>
      </tr>
  <% end %>

</table>
